[Unit]
Description=Run Ansible Pull periodically and on boot
Documentation=https://docs.ansible.com/ansible/latest/cli/ansible-pull.html

[Timer]
OnBootSec={{ ansible_pull_onboot_delay }}
OnUnitActiveSec={{ ansible_pull_interval }}
RandomizedDelaySec={{ ansible_pull_jitter }}
Persistent=true

[Install]
WantedBy=timers.target
