# Ansible artifacts
*.retry
*.pyc
__pycache__/
.ansible/
collections/
ansible/collections/


# ISO & VM testing artifacts
*.iso
*.qcow2
*.raw
*.img
*.fd
*.vars
.alma10-tpm-state/
*tpm-state*/
*.sock
*recovery-key*.txt
/iso-build/
/vm-test/


# Scan results and logs
/tmp/
*.xml
*.html
ks-post.log
ansible-pull.log

# Local secrets & overrides
secrets.yml
vault_pass.txt
.env
