[global]
domain = {{ himmelblau_domain }}
idmap_range = {{ himmelblau_idmap_range | default('200000-2000200000') }}
use_etc_skel = true
{% if himmelblau_app_id | default('') | length > 0 %}
app_id = {{ himmelblau_app_id }}
{% endif %}
{% if himmelblau_pam_allow_groups | default([]) | length > 0 %}
pam_allow_groups = {{ himmelblau_pam_allow_groups | join(', ') }}
{% endif %}
{% if himmelblau_debug | default(false) %}
debug = true
{% endif %}
