# CIS Benchmark Level 1 SSH Server Hardening
# Managed by Ansible

Port {{ cis_sshd_port | default(22) }}
Protocol 2

# Authentication controls
PermitRootLogin {{ cis_sshd_permit_root_login | default('no') }}
MaxAuthTries {{ cis_sshd_max_auth_tries | default(4) }}
MaxSessions 4
PermitEmptyPasswords {{ cis_sshd_permit_empty_passwords | default('no') }}
LoginGraceTime {{ cis_sshd_login_grace_time | default(60) }}
UsePAM {{ cis_sshd_use_pam | default('yes') }}

# Connection & Timeout controls
ClientAliveInterval {{ cis_sshd_client_alive_interval | default(300) }}
ClientAliveCountMax {{ cis_sshd_client_alive_count_max | default(3) }}

# Forwarding & Environment
X11Forwarding {{ cis_sshd_x11_forwarding | default('no') }}
AllowTcpForwarding no
AllowAgentForwarding no
DisableForwarding yes
PermitUserEnvironment no

# Banner
Banner /etc/issue.net

# Logging
LogLevel VERBOSE
